ul{
    list-style-type: none;
    margin: auto;
    background-color: #796ae5;  
}

li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.fondoBarraHerramientas{
    color: white;
    font-size: 20px;
}

.textoCabecera{
   color: white;
   font: 1em EB-garamont;
   font-size: 40px;
}

.fondocabecera{
    background-color: #5c4fb8;
}
