ul{
    list-style-type: none;
    background-color: #796ae5; 
    padding: 10px;
    justify-content: space-evenly !important;
    display: flex;

}

li{
    display: inline-block;
    justify-content: space-between !important;
}

.BarraHerramientas{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.bordecolumnaCabecera{
    border: 5px solid #5c4fb8;
    padding: 1%;
}

.textoCabecera{
   color: white;
   font: 1em EB-garamont;
   font-size: 40px;
}

.fondocabecera{
    background-color: #5c4fb8;
}

.fondo{
    background-color: #a7a1d7;
    margin: auto;
}
.ajusteimagenes{
    justify-content: space-between !important;
    display: flex;
}
