.lista{
    list-style-type: none;
    background-color: #796ae5; 
    padding: 10px;
    justify-content: space-evenly !important;
    display: flex;
}
h6{
    display: inline-block;
}
li{
    display: inline-block;
    justify-content: space-between !important;
}

.BarraHerramientas{
    color: white;
    text-decoration: none;
    font: 1em EB-garamont;
    font-size: 25px;
}

.bordecolumnaCabecera{
    border: 5px solid #5c4fb8;
    padding: 1%;
}

.textoCabecera{
   color: white;
   font: 1em EB-garamont;
   font-size: 40px;
   text-shadow: #5c4fb8;
}

.fondocabecera{
    background-color: #5c4fb8;
}

.fondo{
    background-color: #a7a1d7;
}
.ajusteimagenes{
    justify-content: space-between !important;
    display: flex;
}

.cajaBusqueda{
    background-color:#796ae5 !important;
}

.botonBusqueda{
    background-color: white;
    color: #5c4fb8; 
    border-color: #5c4fb8;
}
.botonsabermas{
    display: inline-block;
    background-color: #796ae5;
    color: white;
    font: 1em EB-garamont;
}

.botoncabecera{
    background-color: #796ae5;
    color: white;
    font-size: 40px;
    font: 1em EB-garamont;
}

.CabeceraCarta{
    background-color:#796ae5;
    color: white;
    font: 1em EB-garamont;
}

.inline{
    display: inline !important;
}