<footer class="py-3">
  <!--Contenedor encargado de almacenar el Footer donde aparecera la información general de la pagina  -->
  <div class="container justify-content-center">
    <div class="row fondocabecera letrasFooter text-center d-flex  m-3 p-4">
      <!-- Esta formado por una fila en la que se almacenan las 3 columnas con informacion general   -->


      <p id = "footerTitulo">
        <%=titulo%> 
      </p>
      <p id = "footerDireccion"> <%=direccion%> </p>


    </div>
  </div>
</footer>