<nav class="container justify-content-center "> <!-- Contenedor encargado de almacenar la barra de Herramientas -->

<div class="row barraDeHerramientas">
  <!-- formado por 1 fila que contiene los 4 botones de opciones, el buscador y el boton de Buscar -->
  <div class="col-md-2  text-center bordecolumnaCabecera text-sm"><a href=https://es.wikipedia.org/wiki/Europa
      target="_blank" class="btn btn-lg botoncabecera">
      <h5>Crear Instalacion</h5>
    </a></div>
  <div class="col-md-2  text-center bordecolumnaCabecera text-sm"><a href=https://es.wikipedia.org/wiki/Asia target="_blank"
      class="btn btn-lg botoncabecera">
      <h5>Configuración Sistema</h5>
    </a></div>
  <div class="col-md-2  text-center bordecolumnaCabecera text-sm"><a href=https://es.wikipedia.org/wiki/Am%C3%A9rica
      target="_blank" class="btn btn-lg botoncabecera">
      <h5>Validación Usuario</h5>
    </a></div>
  <div class="col-md-2  text-center bordecolumnaCabecera text-sm"><a href='./gestionUsuarios'
      target="_blank" class="btn btn-lg botoncabecera">
      <h5>Gestión Usuarios</h5>
    </a></div>
    <div class="col-md-2  text-center bordecolumnaCabecera text-sm"><a href=https://es.wikipedia.org/wiki/%C3%81frica
      target="_blank" class="btn btn-lg botoncabecera">
      <h5>Mis Mensajes</h5>
    </a></div>
</div>
</nav>