<nav class="container justify-content-center "> <!-- Contenedor encargado de almacenar la barra de Herramientas -->

    <div class="row barraDeHerramientas">
      <!-- formado por 1 fila que contiene los 4 botones de opciones, el buscador y el boton de Buscar -->
      <div class="col-md-3  text-center bordecolumnaCabecera"><a href=https://es.wikipedia.org/wiki/Europa
          class="btn btn-lg botoncabecera">
          <h5>Mis mensajes</h5>
        </a></div>
      <div class="col-md-3  text-center bordecolumnaCabecera"><a href="/reserva"
          class="btn btn-lg botoncabecera">
          <h5>Mis Reservas</h5>
        </a></div>
    </div>
    </nav>