
.fondoGrisTexto {
    background-color: rgb(0, 0, 0, 0.55); /*Fondo para el texto del carrusel*/
}

#titulo{
    max-width: 80%;
    margin: 0 auto;   
    background-color:white;
    color:#000000;
    font: 1em EB-garamont;
}

.cajaInfo{
    background-color: white;
    box-shadow: 0px 0px 5px #000000;
}

.cabeceraInfo{
    font: 2.2em EB-garamont;
   color :#000000;
}

.zonaHistorial{
    margin: 0 auto;
    max-width: 70%;
    min-width: 40%;
}

#historiales {
    background-color: white;
    box-shadow: 0px 0px 5px #000000;
}

p{
    font: 1.2em EB-garamont;
}


/*CALENDARIO*/

.fondoCalendario{
    background-color: #b693c3;
    
}

#calendario{
    max-width: 75%; /* Ajusta según sea necesario */

}
