#mensajesEnviados{ /*fondo de color gris */
    display: none;
    background-color: rgb(162, 162, 162);
}

#mensajesRecibidos{/*fondo de color gris */
    display: none;
    background-color: rgb(162, 162, 162);
}

.cajamensaje{/*fondo de color blnaco */
    background-color:white;
}
.zonaMensajes{ /*fondo de color gris */
    background: rgb (180, 180, 180) ;
}
.barrabotones{ /*fondo de color gris, sin estilo de lista y justificado space-evenly*/
    background-color: rgb(162, 162, 162);;
    list-style-type: none;
    padding: 10px;
    justify-content: space-evenly !important;
    display: flex;
}

.botonbarramensajes{ /*fondo de color gris, letra blanca y tipografia eb-garamont */
        background-color: rgb(162, 162, 162);
        color :white;
        font: 1em EB-garamont; 
}

