.card-footer h6{/*modifica h6 en el footer para aumentar de tamaño el precio*/
    display: inline-block;
    font-size: 30px;
}

.card-footer{ /*pone el fonde del footer de las cartas en color blanco*/
    background-color: white;
}


.textoCabecera{ /*Cambia la fuente,tamaño y color de la letra de la cabecera*/
   color: white;
   font: 1em EB-garamont;
   font-size: 40px;
}


.letrasFooter { /*Las letras del pie de pagina son blancas */
    color:white;
}

.letrasFooter a:hover{ /*Cuando se pasa el raton por encima de un enlace del footer, cambia de color y se mueve a la derecha*/
    color:rgba(255, 255, 255, 0.614);
    padding-left: 5%;
}


.card-img-top{ /*Elimina el radio de las imagenes de las tarjetas*/
    border-radius: 0;
}

.imagenInstalacion{ /*Como maximo la instalacion tendra un 250px de ancho */
    max-width: 250px; 
    height: auto;
}

#cuerpoMensaje{ /*text area tendra como maximo 200 px de alto y solo se hara resize vertical*/
    max-height: 200px;
    resize: vertical;
}