#mensajesEnviados{
    display: none;
    background-color: rgb(162, 162, 162);
}

#mensajesRecibidos{
    display: none;
    background-color: rgb(162, 162, 162);
}

.cajamensaje{
    background-color:white;
}
.zonaMensajes{
    background: rgb(180, 180, 180) ;
}
.barrabotones{
    background-color: rgb(162, 162, 162);;
    list-style-type: none;
    padding: 10px;
    justify-content: space-evenly !important;
    display: flex;
}

.botonbarramensajes{
        background-color: rgb(162, 162, 162);
        color :white;
        font: 1em EB-garamont; 
}