.barraDeHerramientas{  /*clase de la barra de herramientas, pone el fondo a morado oscuro, añade margenes y ordena los elementos con espacios equivalentes*/
    list-style-type: none;
    background-color: #670f22; 
    padding: 10px;
    justify-content: space-evenly !important;
    display: flex;
}


.bordecolumnaCabecera a:hover{ /*Hace que al pasar por encoima de los botnes de la barra de herraminetas estos cabien de color*/
    background-color:  #9a0526;
    color: white;
}

.fondocabecera{ /*Hace que el fondo de la cabecera cambie de color*/
    background-color: #9a0526;
}

.botonbuscar{/*Da color a los botones de buscar y les cambia la letra*/
    background-color: #9a0526;
    color: white;
    font: 1em EB-garamont;
}

.fondo{ /*El fondo de toda la pagina es lila*/
    background-color: #ae5c6e;
}

.botonsabermas{  /*El boton de saber mas de las tarjetas tiene fondo morado oscuro, color blanco y fuente EB-garamont*/
    background-color: #9a0526;
    color :white;
    font: 1em EB-garamont;
}

.botoncabecera{ /*Los botones de la cabecera tiene fondo morado, de color blanco, fuente 40 EB-garamont*/
    background-color: #670f22;
    color: white;
    font-size: 15px;
    font: 0.5em EB-garamont;
}

.CabeceraCarta{ /*La fuente de la cabecera es EB-garamont y su color es morado oscuro*/
    color:#9a0526;
    font: 1em EB-garamont;
}

.card:hover{ /*Cuando se pasa el raton por encima de una tarjeta aparece una sombra*/
    box-shadow: 0px 0px 20px #9a0526;
}

.botonInicioSesion{
background-color: white;
font: 1.1em EB-garamont;
color :#9a0526
}
