

#titulo{  /*El titulo de las intalaciones debe ser negro, ocupar un 80% fondo blanco y tipografia EB-garamont*/
    max-width: 80%;
    margin: 0 auto;   
    background-color:white;
    color:#000000;
    font: 1em EB-garamont;
}

.cajaInfo{ /*fondo blanco y sombra negra */
    background-color: white;
    box-shadow: 0px 0px 5px #000000;
}

.cabeceraInfo{ /*color negro y tipografia garamont*/
    font: 2.2em EB-garamont;
   color :#000000;
}
 
.zonaHistorial{  /*anchos minimos y maximos*/
    margin: 0 auto;
    max-width: 70%;
    min-width: 40%;
}

#historiales {   /*fondo blanco y sombra negra */
    background-color: white;
    box-shadow: 0px 0px 5px #000000;
}

p{ /*todos los p tienen tipografia eb-garamont*/
    font: 1.2em EB-garamont;
}


/*CALENDARIO*/


#calendario{ /*el calendario tiene como maximo un ancho del 75%*/
    max-width: 75%; /* Ajusta según sea necesario */

}
