header{
    text-align: center;
    font-size: 60px;
    background-color: rgb(163, 247, 247);
}

section{
    margin:auto;
    width:80%;
    background-color: rgb(24, 194, 69);
    text-align: center;
    height: 20vh;
    margin-top:1%;
}


footer{
    background-color: rgb(186, 194, 24);
    text-align:center;
    padding-bottom: 40px;
    margin-top:1%;
    
}